<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="FreeCRM Test Suite">

    <listeners>
        <listener class-name="com.freecrm.listeners.ExtentTestListener"/>
    </listeners>

    <test name="FreeCRM Tests">
        <packages>
            <package name="com.freecrm.tests"/>
        </packages>
    </test>

</suite>
